* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(../images/bj2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegoldenrod;
}

h1 {
    float: left;
}

.nav {
    float: left;
    margin-left: 60px;
    height: 50px;
}

.nav li {
    float: left;
    margin-left: 25px;
    margin-right: 20px;
}

.nav li a {
    display: block;
    padding: 0 9px;
    height: 50px;
    line-height: 68px;
    font-size: 22px;
    font-family: 黑体;
    color: #050505;
}

.nav li a:hover {
    color: #69b96e;
}

.cent img {
    width: 1200px;
    height: 300px;
    text-align: center;
    margin: 1rem auto;
}

.cent img {
    max-width: 100%;
    /* 图片最大宽度为父容器的宽度 */
    max-height: 100%;
    /* 高度自适应 */
    display: block;
    /* 将图片转换为块级元素 */
}



.banner {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    /* background-color: pink; */
}

.banner .left {
    float: left;
    padding: 0 20px;

    width: 200px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.2);

    /* 行高属于控制文字的属性, 能继承 */
    line-height: 100px;
}

.banner .left span {
    float: right;
}

.banner .left a {
    font-size: 24px;
    color: #fffb;
}

.banner .left a:hover {
    color: #69b96e;
}

.banner .right {
    width: 1200px;
    height: 500px;
    margin: 5px auto;
}


.footer {
    width: 1200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 5px auto;
    background-color: palegoldenrod;
}